.createtask{
    display: flex;
    width: 100%;
    align-items: center;
    text-align: center;

}

.completeTask{
color : red;
font-style: oblique;
}

.incompleteTask{
color: black;
}

.agregar{
    font-size: 10px;
    background-color: blue;
}

.tareas {
    justify-content: space-between;
    border-radius: 10px;
    border-color: black;
    border: 2px solid rgb(170, 164, 175);
    background-color: rgb(254, 241, 248);
    height: 90px;
    width:500px;
   align-items: center;
    display: flex;
    margin-left: flex;
    margin-top: 5px;

}