.createtask{
    
    /* background-image: url(blocknote.png); */
    background-repeat: no-repeat;
    background-size:auto;
    background-position: center;
    width: 100%;
    height: 100%;

}

.completeTask{
color : red
}

.incompleteTask{
color: black;
}