.header{
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.titulo{
    display: flex;
    transition: 200ms;
    font-family: 'Moon Dance', cursive;
    font-size: 90px;
    text-align: center;
    align-items: center;
    color: #1A374D
}
.titulo:hover{
    color: #35858B
}

.navbar{
    display: flex;
flex-direction: row;
justify-content:space-between;
background-color: #B1D0E0;
width: 100%;
align-items: center;
}


.botonesnav{
display: flex;
flex-direction: row;
justify-content:space-between;
margin: 5px;
width: 100%;
align-items: center;


}

.botonnavbar{

justify-content: center;
border-radius: 50px;
transition: 200ms;
font-family:'Moon Dance', cursive;
font-size: 30px;
color: #35858B
}
.botonnavbar:hover{
    background-color: #35858B;
    color: #AEFEFF;
}

.home{
    font-size: 30px;
    color: #35858B;
    align-items: center;
    text-align: center;

}
.home:hover{
    color: #AEFEFF;
}



