.header{
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.titulo{
    display: flex;
    transition: 200ms;
    font:italic;
    font-size: 60px;
    text-align: center;
    align-items: center;
    color: rgb(224, 141, 62);
}
.titulo:hover{
    color: rgb(255, 187, 187);
}
.navbar{
    display: flex;
flex-direction: column;
justify-content:space-between;
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
background-color: #bfffff;
width: 100%;
}
.navbar:hover{
    color:rgb(224, 141, 62)
}

.botonesnav{
    display: flex;
flex-direction: row;
justify-content: space-around;
margin: 5px;
}
.botonesnav:hover{
    color: hotpink;
}
.botonnavbar{
align-items:flex-end;
justify-content: center;
border-radius: 50px;
transition: 200ms;
}
.botonnavbar:hover{
    background-color: rgb(170, 224, 193);
}




